/*------------General Rules---------*/

$default-font:"Open Sans";
$default-font-size : 12px;
$kanye-color:#ed1c24;
$rock-color:#22205f;
//$green-button-color:#2ecc71;
$green-button-color:#606060;

@mixin tabs-styles($color){
    .tabs{
        text-align:center;
        .tab.col-md-4{
            border:1px solid darken( $color, 10% );
            background-color:$color;
            color:white;
            height: 50px;
            padding: 5px;
            font-size: 25px;
        }
        
    }
    .turnButton {
            position: absolute;
            top: 10px;
            right: 185px;
            border:1px solid darken( $color, 10% );
            background-color:#2c3e50;
            color:white;
            height: 50px;
            padding: 5px;
            font-size: 25px;
            &:hover{
              border:1px solid darken( $color, 20% );  
             box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
             cursor:pointer;
            }
    }
    
    
}

@mixin selectionContainer($color){
    .entityText{
        border:1px solid darken( $color, 10% );
        background-color:$color;
        color:white;
        height: 50px;
        padding: 5px;
        font-size: 25px;
        //max-width:300px;
        margin:10px;
    }
    .entity{
    position:relative;
        .hireButton {
            color: white;
            padding: 12px 25px;
            font-size: 18px;
            background-color: $green-button-color;
            position: absolute;
            right: 10px;
            top: 0px;
            text-transform: uppercase;
            &:hover{
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
            cursor:pointer;
            }
        }
    }
    .ability{
            display: inline-block;
          //  padding: 10px 15px;
            text-align:center;
        .abilityType {
            text-transform: uppercase;
            font-weight: 900;
            }
        .abilityImage {
            padding: 0 35px;
}
        }
        
        span.mailCount {
            background-color: white;
            color: $color;
            border-radius: 30px;
            margin-left: 10px;
            padding: 0 10px;
            font-size: 22px;
        }
        
        .mail {
             margin-top: 100px;
        		.header {
        		font-size: 24px;
        		font-weight: 900;
        		padding-bottom: 10px;
        		}
}
        
    
    
}
@mixin agendaScreen($color){
    .agendaItem {
        font-size: 18px;
        color: white;
        background-color: $color;
        padding: 5px 10px;
        max-width: 350px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        min-width:300px;
    }
    .agendaButton {
        display: inline-block;
        background-color: $green-button-color;
        padding: 5px 10px;
        color: white;
        font-size: 18px;
        margin-right: 10px;
        margin-top: 10px;
        font-weight: 900;
        text-transform: uppercase;
        &:hover{
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
            cursor:pointer;
            }
}
    
}

@mixin container-style($color){
 
.screen{
    min-height:600px;
    position:relative;
    .memberName {
        margin: 10px;
        color: white;
        font-size: 18px;
        background-color: $color;
        padding: 10px;
    }
    .member{
        text-align:center;
        display: inline-block;
        margin-bottom:20px;
        vertical-align:top;
            min-width: 200px;
        .cost{
            color:$kanye-color;
            text-align: center;
            &:before{
                    content: "$";        
                
            }
        }
        
        .actionButton {
            background-color: $color;
            padding: 10px;
            margin: 5px 45px;
            font-size: 18px;
            color: white;
            text-align:center;
        }
        .actionButton.selected{
           background-color:$green-button-color; 
            
        }
        
        .actionName{
            padding-top:5px;
            
        }
        
        
    }
    
}

.action{
      // display: inline-block;
          //  padding: 10px 15px;
       text-align:center;
        .abilityType {
            text-transform: uppercase;
            font-weight: 900;
            }
        img {
            padding: 0 35px;
}
        }   
    
}

body{
    font-family:$default-font;
    background-image: url("../img/background5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    //height:768px;
}

.background-image-smecher{
        height:768px;
    
}

        .left-candidate{
            background-image: url("../img/the_rock.png");
            background-repeat: no-repeat;
            background-size: cover;
            height:450px;
            width:300px;
            
        }
        .right-candidate{
            background-image: url("../img/kanye.png");
            background-repeat: no-repeat;
            background-size: cover;
            height:450px;
            width:300px;
            
        }
        
.home-page{
    
    .container-fluid{
        padding:0;
        
        .row{
                margin-top: 50px;
                margin-left:200px;
                margin-right:200px;
        }
        
    }
    background-image: url("../img/background6.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    height:755px;
    
        
            /* Flipping containers */
       .right{
               float: right;
           
       }/*
       .left{
               margin-left: 200px;
                padding-top: 90px;
       }*/
        
            
        .flip-container {
        	perspective: 1000px;
        	
        	
        }
        	/* flip the pane when hovered */
        	.flip-container:hover .flipper, .flip-container.hover .flipper {
        		transform: rotateY(180deg);
        	}
        
        .flip-container, .front, .back {
        	width: 300px;
        	height: 470px;
        	
        }
        
        /* flip speed goes here */
        .flipper {
        	transition: 0.6s;
        	transform-style: preserve-3d;
        
        	position: relative;
        }
        
        /* hide back of pane during swap */
        .front, .back {
        	backface-visibility: hidden;
        
        	position: absolute;
        	top: 0;
        	left: 0;
        }
        
        /* front pane, placed above back */
        .front {
        	z-index: 2;
        	/* for firefox 31 */
        	transform: rotateY(0deg);
        }
        
        /* back, initially hidden pane */
        .back {
        	transform: rotateY(180deg);
        	background-color:#fff;
        	height:450px;
        	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        	
        	
        	    
        	
        }
        .content-pictures{
            	p{
            	    padding:10px;
            	}
            	h2{
            	    padding:10px;
            	}
            		h3{
            	    padding:10px;
            	}
        	}

        
        /*End Flipping containers*/
    
    .container{
        
        .intro-text{
            font-family:$default-font;
            font-size:$default-font-size;
            padding:15px 20px;
            text-align:center;
            
        }
        
    
    button.btn.btn-default {
    margin: 0 auto;
    width: 30%;
    display: block;
    margin-top:30px;
    border: 2px solid #ed1c24;
    height: 56px;
    background-image: none;
    background-color: white;
    font-size: 29px;
    font-weight: 900;
    font-family:$default-font;
    &:hover{
        border: 2px solid #22205f;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        cursor:pointer;
    }
    }
}
    
}



.container-kanye{
    @include tabs-styles($kanye-color);
    
}

.container-rock{
    @include tabs-styles($rock-color);
    
}

.selection-kanye.selectScreen.container{
   @include selectionContainer($kanye-color);
    
    
}

.selection-rock.selectScreen.container{
   @include selectionContainer($rock-color); 
    
    
}
.agenda-kanye.agendaScreen.container{
    @include agendaScreen($kanye-color); 
    
}

.agenda-rock.agendaScreen.container{
    @include agendaScreen($rock-color); 
    
}

.container-kanye.container{
    @include container-style($kanye-color);
    
}


.container-rock.container{
    @include container-style($rock-color);
    
}

