/*------------General Rules---------*/

$default-font:"Open Sans";
$default-font-size : 18px;
body{
    font-family:$default-font;
}

        .left-candidate{
            background-image: url("../img/the_rock.png");
            background-repeat: no-repeat;
            background-size: cover;
            height:300px;
            width:300px;
            
        }
        .right-candidate{
            background-image: url("../img/kanye.png");
            background-repeat: no-repeat;
            background-size: cover;
            height:300px;
            width:300px;
            
        }
        
.home-page{
    
    .container-fluid{
        padding:0;
        
        .row{
                margin-top: 100px;
                margin-left:200px;
                margin-right:200px;
        }
        
    }
    background-image: url("../img/background4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:768px;
    
        
            /* Flipping containers */
       .right{
               float: right;
           
       }/*
       .left{
               margin-left: 200px;
                padding-top: 90px;
       }*/
        
            
        .flip-container {
        	perspective: 1000px;
        	
        	
        }
        	/* flip the pane when hovered */
        	.flip-container:hover .flipper, .flip-container.hover .flipper {
        		transform: rotateY(180deg);
        	}
        
        .flip-container, .front, .back {
        	width: 320px;
        	height: 320px;
        	
        }
        
        /* flip speed goes here */
        .flipper {
        	transition: 0.6s;
        	transform-style: preserve-3d;
        
        	position: relative;
        }
        
        /* hide back of pane during swap */
        .front, .back {
        	backface-visibility: hidden;
        
        	position: absolute;
        	top: 0;
        	left: 0;
        }
        
        /* front pane, placed above back */
        .front {
        	z-index: 2;
        	/* for firefox 31 */
        	transform: rotateY(0deg);
        }
        
        /* back, initially hidden pane */
        .back {
        	transform: rotateY(180deg);
        	background-color:#fff;
        	height:300px;
        	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        	
        	
        	    
        	
        }
        .content-pictures{
            	p{
            	    padding:10px;
            	}
            	h2{
            	    padding:10px;
            	}
            		h3{
            	    padding:10px;
            	}
        	}

        
        /*End Flipping containers*/
    
    .container{
        
        .intro-text{
            font-family:$default-font;
            font-size:$default-font-size;
            padding:15px 20px;
            text-align:center;
            
        }
        
    
    button.btn.btn-default {
    margin: 0 auto;
    width: 30%;
    display: block;
    margin-top:30px;
    border: 2px solid #ed1c24;
    height: 56px;
    background-image: none;
    background-color: white;
    font-size: 29px;
    font-weight: 900;
    font-family:$default-font;
    &:hover{
        border: 2px solid #22205f;
    }
    }
}
    
}