/*------------General Rules---------*/
body {
  font-family: "Open Sans";
  background-image: url("../img/background5.png");
  background-repeat: repeat-y;
  background-size: contain; }

.background-image-smecher {
  background-image: url("../img/background4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px; }

.left-candidate {
  background-image: url("../img/the_rock.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px; }

.right-candidate {
  background-image: url("../img/kanye.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px; }

.home-page {
  background-image: url("../img/background4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  /* Flipping containers */
  /*
       .left{
               margin-left: 200px;
                padding-top: 90px;
       }*/
  /* flip the pane when hovered */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
  /*End Flipping containers*/ }
  .home-page .container-fluid {
    padding: 0; }
    .home-page .container-fluid .row {
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px; }
  .home-page .right {
    float: right; }
  .home-page .flip-container {
    perspective: 1000px; }
  .home-page .flip-container:hover .flipper, .home-page .flip-container.hover .flipper {
    transform: rotateY(180deg); }
  .home-page .flip-container, .home-page .front, .home-page .back {
    width: 320px;
    height: 320px; }
  .home-page .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  .home-page .front, .home-page .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .home-page .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg); }
  .home-page .back {
    transform: rotateY(180deg);
    background-color: #fff;
    height: 300px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); }
  .home-page .content-pictures p {
    padding: 10px; }
  .home-page .content-pictures h2 {
    padding: 10px; }
  .home-page .content-pictures h3 {
    padding: 10px; }
  .home-page .container .intro-text {
    font-family: "Open Sans";
    font-size: 18px;
    padding: 15px 20px;
    text-align: center; }
  .home-page .container button.btn.btn-default {
    margin: 0 auto;
    width: 30%;
    display: block;
    margin-top: 30px;
    border: 2px solid #ed1c24;
    height: 56px;
    background-image: none;
    background-color: white;
    font-size: 29px;
    font-weight: 900;
    font-family: "Open Sans"; }
    .home-page .container button.btn.btn-default:hover {
      border: 2px solid #22205f;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); }

.container-kanye .tabs {
  text-align: center; }
  .container-kanye .tabs .tab.col-md-4 {
    border: 1px solid #c61017;
    background-color: #ed1c24;
    color: white;
    height: 50px;
    padding: 5px;
    font-size: 25px; }

.container-kanye .turnButton {
  position: absolute;
  top: 60px;
  right: 150px;
  border: 1px solid #c61017;
  background-color: #ed1c24;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px; }
  .container-kanye .turnButton:hover {
    border: 1px solid #970c11;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

.container-rock .tabs {
  text-align: center; }
  .container-rock .tabs .tab.col-md-4 {
    border: 1px solid #141339;
    background-color: #22205f;
    color: white;
    height: 50px;
    padding: 5px;
    font-size: 25px; }

.container-rock .turnButton {
  position: absolute;
  top: 60px;
  right: 150px;
  border: 1px solid #141339;
  background-color: #22205f;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px; }
  .container-rock .turnButton:hover {
    border: 1px solid #070613;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

.selection-kanye.selectScreen.container .entityText {
  border: 1px solid #c61017;
  background-color: #ed1c24;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px;
  margin: 10px; }

.selection-kanye.selectScreen.container .entity {
  position: relative; }
  .selection-kanye.selectScreen.container .entity .hireButton {
    color: white;
    padding: 5px 21px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #27ae60;
    position: absolute;
    right: 10px;
    bottom: -15px; }
    .selection-kanye.selectScreen.container .entity .hireButton:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

.selection-kanye.selectScreen.container .ability {
  display: inline-block;
  text-align: center; }
  .selection-kanye.selectScreen.container .ability .abilityType {
    text-transform: uppercase;
    font-weight: 900; }
  .selection-kanye.selectScreen.container .ability .abilityImage {
    padding: 0 35px; }

.selection-rock.selectScreen.container .entityText {
  border: 1px solid #141339;
  background-color: #22205f;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px;
  margin: 10px; }

.selection-rock.selectScreen.container .entity {
  position: relative; }
  .selection-rock.selectScreen.container .entity .hireButton {
    color: white;
    padding: 5px 21px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #27ae60;
    position: absolute;
    right: 10px;
    bottom: -15px; }
    .selection-rock.selectScreen.container .entity .hireButton:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

.selection-rock.selectScreen.container .ability {
  display: inline-block;
  text-align: center; }
  .selection-rock.selectScreen.container .ability .abilityType {
    text-transform: uppercase;
    font-weight: 900; }
  .selection-rock.selectScreen.container .ability .abilityImage {
    padding: 0 35px; }

.agenda-kanye.agendaScreen.container .agendaItem {
  font-size: 18px;
  color: white;
  background-color: #ed1c24;
  padding: 5px 10px;
  max-width: 350px;
  margin: 5px;
  display: inline-block;
  min-width: 300px; }

.agenda-kanye.agendaScreen.container .agendaButton {
  display: inline-block;
  background-color: #2ecc71;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 900;
  text-transform: uppercase; }
  .agenda-kanye.agendaScreen.container .agendaButton:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

.agenda-rock.agendaScreen.container .agendaItem {
  font-size: 18px;
  color: white;
  background-color: #22205f;
  padding: 5px 10px;
  max-width: 350px;
  margin: 5px;
  display: inline-block;
  min-width: 300px; }

.agenda-rock.agendaScreen.container .agendaButton {
  display: inline-block;
  background-color: #2ecc71;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 900;
  text-transform: uppercase; }
  .agenda-rock.agendaScreen.container .agendaButton:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

.screen {
  height: 600px; }
