/*------------General Rules---------*/
body {
  font-family: "Open Sans";
  background-image: url("../img/background5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%; }

.background-image-smecher {
  height: 768px; }

.left-candidate {
  background-image: url("../img/the_rock.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 300px; }

.right-candidate {
  background-image: url("../img/kanye.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 300px; }

.home-page {
  background-image: url("../img/background6.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 755px;
  /* Flipping containers */
  /*
       .left{
               margin-left: 200px;
                padding-top: 90px;
       }*/
  /* flip the pane when hovered */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
  /*End Flipping containers*/ }
  .home-page .container-fluid {
    padding: 0; }
    .home-page .container-fluid .row {
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 200px; }
  .home-page .right {
    float: right; }
  .home-page .flip-container {
    perspective: 1000px; }
  .home-page .flip-container:hover .flipper, .home-page .flip-container.hover .flipper {
    transform: rotateY(180deg); }
  .home-page .flip-container, .home-page .front, .home-page .back {
    width: 300px;
    height: 470px; }
  .home-page .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  .home-page .front, .home-page .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .home-page .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg); }
  .home-page .back {
    transform: rotateY(180deg);
    background-color: #fff;
    height: 450px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); }
  .home-page .content-pictures p {
    padding: 10px; }
  .home-page .content-pictures h2 {
    padding: 10px; }
  .home-page .content-pictures h3 {
    padding: 10px; }
  .home-page .container .intro-text {
    font-family: "Open Sans";
    font-size: 12px;
    padding: 15px 20px;
    text-align: center; }
  .home-page .container button.btn.btn-default {
    margin: 0 auto;
    width: 30%;
    display: block;
    margin-top: 30px;
    border: 2px solid #ed1c24;
    height: 56px;
    background-image: none;
    background-color: white;
    font-size: 29px;
    font-weight: 900;
    font-family: "Open Sans"; }
    .home-page .container button.btn.btn-default:hover {
      border: 2px solid #22205f;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
      cursor: pointer; }

.container-kanye .tabs {
  text-align: center; }
  .container-kanye .tabs .tab.col-md-4 {
    border: 1px solid #c61017;
    background-color: #ed1c24;
    color: white;
    height: 50px;
    padding: 5px;
    font-size: 25px; }

.container-kanye .turnButton {
  position: absolute;
  top: 10px;
  right: 185px;
  border: 1px solid #c61017;
  background-color: #2c3e50;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px; }
  .container-kanye .turnButton:hover {
    border: 1px solid #970c11;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.container-rock .tabs {
  text-align: center; }
  .container-rock .tabs .tab.col-md-4 {
    border: 1px solid #141339;
    background-color: #22205f;
    color: white;
    height: 50px;
    padding: 5px;
    font-size: 25px; }

.container-rock .turnButton {
  position: absolute;
  top: 10px;
  right: 185px;
  border: 1px solid #141339;
  background-color: #2c3e50;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px; }
  .container-rock .turnButton:hover {
    border: 1px solid #070613;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.selection-kanye.selectScreen.container .entityText {
  border: 1px solid #c61017;
  background-color: #ed1c24;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px;
  margin: 10px; }

.selection-kanye.selectScreen.container .entity {
  position: relative; }
  .selection-kanye.selectScreen.container .entity .hireButton {
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #606060;
    position: absolute;
    right: 10px;
    top: 0px;
    text-transform: uppercase; }
    .selection-kanye.selectScreen.container .entity .hireButton:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer; }

.selection-kanye.selectScreen.container .ability {
  display: inline-block;
  text-align: center; }
  .selection-kanye.selectScreen.container .ability .abilityType {
    text-transform: uppercase;
    font-weight: 900; }
  .selection-kanye.selectScreen.container .ability .abilityImage {
    padding: 0 35px; }

.selection-kanye.selectScreen.container span.mailCount {
  background-color: white;
  color: #ed1c24;
  border-radius: 30px;
  margin-left: 10px;
  padding: 0 10px;
  font-size: 22px; }

.selection-kanye.selectScreen.container .mail {
  margin-top: 100px; }
  .selection-kanye.selectScreen.container .mail .header {
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 10px; }

.selection-rock.selectScreen.container .entityText {
  border: 1px solid #141339;
  background-color: #22205f;
  color: white;
  height: 50px;
  padding: 5px;
  font-size: 25px;
  margin: 10px; }

.selection-rock.selectScreen.container .entity {
  position: relative; }
  .selection-rock.selectScreen.container .entity .hireButton {
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #606060;
    position: absolute;
    right: 10px;
    top: 0px;
    text-transform: uppercase; }
    .selection-rock.selectScreen.container .entity .hireButton:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer; }

.selection-rock.selectScreen.container .ability {
  display: inline-block;
  text-align: center; }
  .selection-rock.selectScreen.container .ability .abilityType {
    text-transform: uppercase;
    font-weight: 900; }
  .selection-rock.selectScreen.container .ability .abilityImage {
    padding: 0 35px; }

.selection-rock.selectScreen.container span.mailCount {
  background-color: white;
  color: #22205f;
  border-radius: 30px;
  margin-left: 10px;
  padding: 0 10px;
  font-size: 22px; }

.selection-rock.selectScreen.container .mail {
  margin-top: 100px; }
  .selection-rock.selectScreen.container .mail .header {
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 10px; }

.agenda-kanye.agendaScreen.container .agendaItem {
  font-size: 18px;
  color: white;
  background-color: #ed1c24;
  padding: 5px 10px;
  max-width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  min-width: 300px; }

.agenda-kanye.agendaScreen.container .agendaButton {
  display: inline-block;
  background-color: #606060;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 900;
  text-transform: uppercase; }
  .agenda-kanye.agendaScreen.container .agendaButton:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.agenda-rock.agendaScreen.container .agendaItem {
  font-size: 18px;
  color: white;
  background-color: #22205f;
  padding: 5px 10px;
  max-width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  min-width: 300px; }

.agenda-rock.agendaScreen.container .agendaButton {
  display: inline-block;
  background-color: #606060;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 900;
  text-transform: uppercase; }
  .agenda-rock.agendaScreen.container .agendaButton:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.container-kanye.container .screen {
  min-height: 600px;
  position: relative; }
  .container-kanye.container .screen .memberName {
    margin: 10px;
    color: white;
    font-size: 18px;
    background-color: #ed1c24;
    padding: 10px; }
  .container-kanye.container .screen .member {
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
    min-width: 200px; }
    .container-kanye.container .screen .member .cost {
      color: #ed1c24;
      text-align: center; }
      .container-kanye.container .screen .member .cost:before {
        content: "$"; }
    .container-kanye.container .screen .member .actionButton {
      background-color: #ed1c24;
      padding: 10px;
      margin: 5px 45px;
      font-size: 18px;
      color: white;
      text-align: center; }
    .container-kanye.container .screen .member .actionButton.selected {
      background-color: #606060; }
    .container-kanye.container .screen .member .actionName {
      padding-top: 5px; }

.container-kanye.container .action {
  text-align: center; }
  .container-kanye.container .action .abilityType {
    text-transform: uppercase;
    font-weight: 900; }
  .container-kanye.container .action img {
    padding: 0 35px; }

.container-rock.container .screen {
  min-height: 600px;
  position: relative; }
  .container-rock.container .screen .memberName {
    margin: 10px;
    color: white;
    font-size: 18px;
    background-color: #22205f;
    padding: 10px; }
  .container-rock.container .screen .member {
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
    min-width: 200px; }
    .container-rock.container .screen .member .cost {
      color: #ed1c24;
      text-align: center; }
      .container-rock.container .screen .member .cost:before {
        content: "$"; }
    .container-rock.container .screen .member .actionButton {
      background-color: #22205f;
      padding: 10px;
      margin: 5px 45px;
      font-size: 18px;
      color: white;
      text-align: center; }
    .container-rock.container .screen .member .actionButton.selected {
      background-color: #606060; }
    .container-rock.container .screen .member .actionName {
      padding-top: 5px; }

.container-rock.container .action {
  text-align: center; }
  .container-rock.container .action .abilityType {
    text-transform: uppercase;
    font-weight: 900; }
  .container-rock.container .action img {
    padding: 0 35px; }
